div {
    width: 500px;
    height  :200px;
    border-width: 5px;
    border-style: solid;
    border-color: black ;
    background-color: purple;
}

button{
    border:2px solid blue;
    border-left:2px dotted black ;
    border-right:3px dashed yellow;
    border-top:4px double purple; 
    border-botton:3px hidden pink;
}

.myclass {
    border-radius: 20%;
}