div{
    border:2px solid black;
}

button {
    border: 2px soild black;
    border-radius: 15px;
    background-color: grey;
}

.myclass{
    border: 1px dotted grey;
    border-radius: 10px;
    background-color: pink;
}