div{
    border:2px solid black;
    padding:50px;
    margin-bottom: 20px;    
    margin-right: 20px;
}

button {
    border: 2px soild black;
    border-radius: 15px;
    background-color: grey;
    padding: 25px;
    margin-right: 20px;
}

.myclass{
    border: 1px dotted grey;
    border-radius: 10px;
    background-color: pink;
}